<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd
https://jakarta.ee/xml/ns/jakartaee "
         version="6.0">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.netology.servlet.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/api/posts/*</url-pattern>
    </servlet-mapping>

</web-app>


